h1 {
    color: darkviolet;
}

h2 {
    color: mediumvioletred;
}

h3 {
    color: blueviolet;
}

login-bar {
    text-align: right;
}

.loggedIn {
    color: blueviolet;
}

.notLoggedIn {
    color: darkblue;
}

schedule-table-item-collection {
    display: table;
}

.scheduleTableRow {
    display: table-row;
}

.timeSlotsTable {
    min-width: 125px;
    display: table-cell;
}

.timeSlotsTableItem {
    text-align: center;
}


.activitiesTable,
.dailyActivitiesTable {
    min-width: 280px;
    display: table-cell;
}

.searchInlineForm {
    text-align: right;
    margin-bottom: 12px;
    margin-top: -36px;
    overflow: visible;
}

.btn-right {
    text-align: right;
}

.spacer-post {
    margin-left: 6px;
    margin-right: 12px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.form-control-container{

    height: auto;
    padding: 2px 6px;

}

