<e-learning>
    <div class="container" ng-init="elearning.LoadCodeSchoolData()">
        <h1 id="titlepage">Me and My Continuous Elearning</h1>
        <div id="user" class="container-fluid text-right"></div>
        <div class="container-fluid">
            <p class="text-justify">
                Hello, that's me: I am a coder therefore I am a student.
            </p>
            <p class="text-justify">
                Continuous Learning is the best way of beeing up-to-dated on Information Technologies and, 
                as my first teacher's said, <em>"Never stop studing"</em>. For years I wished she was wrong,
                but nowadays I realize I was wrong: to be a good coder you have to know a lot of stuffs and the
                best way to use them is to learn how they can be used. And in Information Technology there you
                can find everyday something new that can be useful to your work. 
            </p>
            <p class="text-justify">
                That's the reason why I am still at school: in <a href="codeschool.com" target="_blank"> CodeSchool</a>
                I've found a lot of courses: here's a list of them.  
            </p>
        </div>
        <div id="badges"></div>
    </div>
</e-learning>
