<home>
    <div id="ng-portfolio-carousel" class="carousel">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="current in home.slides track by current.id" index="current.id">
                <div >
                    <img ng-src="{{current.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h1>{{current.title}}</h1>
                        <p>{{current.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="marketing">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="glyphicon glyphicon-queen"></span>
          <h2>Game Design</h2>
          <p>User Game Experience is fondamental for a good application</p>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-briefcase"></span>
          <h2>Coding Patterns</h2>
          <p>The best way to start coding are design patterns applied in several coding languages</p>
        </div>
        <div class="col-md-4">
          <a href="/#/elearning">
          <span class="glyphicon glyphicon-education"></span>
          </a>
          <h2>Continuos Learning</h2>
          <p>Always been up-to-date with the cooles market trends and latest technologied</p>
        </div>
      </div>
      <div class="container">
        <div class="col-md-4">
          <span class="glyphicon glyphicon-eye-open"></span>
          <h2>HTML5 and CSS3</h2>
          <p>With those definition languages, <em>Web</em> will not be the same</p>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-cloud"></span>
          <h2>C# and Cloud</h2>
          <p>An eye very opened on what data you need and where you can access data: <em>Cloud</em> is the answer</p>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-link"></span>
          <h2>Code Secured</h2>
          <p>High security profiled and reliability on your data and your know-how</p>
        </div>
      </div>
    </div>
  </div>
  
</home>
