<home>
  <div id="portfolio-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#portfolio-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#portfolio-carousel" data-slide-to="1"></li>
      <li data-target="#portfolio-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="container">
          <div class="carousel-caption">
            <h1>The enjoy of Coding</h1>
            <p><em>Basic</em>, <em>C</em>, <em>Visual Basic</em>, <em>Java</em>, <em>Python</em>, <em>C#</em> and either <em>JavaScript</em>:
              who cares: I enjoy code in every form.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption">
            <h1>User Design and Gaming Experience</h1>
            <p>User comes first and interactivity must be enjoyable: this is my vision of User Inteface.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption">
            <h1>The importance of beeing Honest</h1>
            <p>Clarity in code writing is the best way to build a mainteinable application. Code must always tell the truth
              and coders must trust on it.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#portfolio-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#portfolio-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="marketing">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="glyphicon glyphicon-queen"></span>
          <h2>Game Design</h2>
          <p>User Game Experience is fondamental for a good application</p>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-briefcase"></span>
          <h2>Coding Patterns</h2>
          <p>The best way to start coding are design patterns applied in several coding languages</p>
        </div>
        <div class="col-md-4">
          <a href="elearning.html">
          <span class="glyphicon glyphicon-education"></span>
          </a>
          <h2>Continuos Learning</h2>
          <p>Always been up-to-date with the cooles market trends and latest technologied</p>
        </div>
      </div>
      <div class="container">
        <div class="col-md-4">
          <span class="glyphicon glyphicon-eye-open"></span>
          <h2>HTML5 and CSS3</h2>
          <p>With those definition languages, <em>Web</em> will not be the same</p>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-cloud"></span>
          <h2>C# and Cloud</h2>
          <p>An eye very opened on what data you need and where you can access data: <em>Cloud</em> is the answer</p>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-link"></span>
          <h2>Code Secured</h2>
          <p>High security profiled and reliability on your data and your know-how</p>
        </div>
      </div>
    </div>
  </div>
  
</home>
